h1, h2, h3, h4, h5, h6 {
	font-family: Lato;
}

div.header {
	text-align: center;
}

h1.title {
	font-weight: 700;
	font-size: 6em;
	margin: 0px;
}

h1.title a {
	color: #444;
}

h1.title a:hover {
	text-decoration: none;
}